@import '../../styles/variables.scss';

.card-tabs-container{
	max-width: 52rem;
}

.tabs {
	margin-bottom: 3rem;
	&__items {
		display: flex;
		gap: 1.4375rem;
	}

	&__item {
		flex: 0 1 25%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'Lato', sans-serif;
		font-size: 1.25rem;
		line-height: 1.5rem;
		background: transparent;
		border: 1px solid $text;
		border-radius: 2.25rem;
		padding: 1rem 1.25rem;
		white-space: nowrap;
		&:disabled {
			color: $text;
			border: 3px solid $text;
		}
	}
}


.content-inside {
	margin-bottom: 4rem;
	&__title {
		font-size: 2.25rem;
		font-weight: 600;
		margin-bottom: 2.5rem;
	}

	&__description {
		line-height: 1.5rem;
	}
}

.description {
	margin-bottom: 2.25rem;
	&__subtitle {
		font-size: 1.25rem;
		margin-bottom: 1.5rem;
		font-weight: 700;
	}

}

.report {
	&__underline{
		flex-grow: 1;
		color: $bg;
		border-bottom: 1px dotted #000;
		margin-top: -.75rem;
	}
}

.revies {
	margin-bottom: 2.25rem;

	&__user-name {
		font-size: 1.25rem;
		font-weight: 700;
	}

	&__confirmation {
		font-size: .625rem;
		span {
			padding: .25rem .5rem ;
			background: url('../../../public/images/icons/verified_user.svg') left no-repeat;
		}
	}

	&__likes {
		font-size: .625rem;
		text-align: right;
		gap: .5rem;
	}

}
