@import '../../styles/variables.scss';

.catalog {
    display: flex;
    flex-direction: column;
    background-color: $bg;
    position: absolute;
    z-index: 9999;
    margin-top: 20px;
    padding: 35px;
    height: 50%;
    width: 95%;
}

.categories {
    background-color: $bg;
    color: $text;
    display: flex;
    margin-left: 5%;
    .category {
        display: flex;
        height: 50px;
        flex: 1;
        text-align: left;
        padding: 0 10px;
        width: 250px;
        p {
            margin-top: 10px;
            margin-right: 10px;
        }
        img {
            margin-left: auto;
            width: 10px;
        }  
    }

} 
.sub-categories {
    background-color: $bg;
    color: $text;
    border: none;  
    display: flex;
    flex-wrap: wrap;
    .sub-category {
        width: 300px;
        h4 {
            font-size: 20px;
        }
        p {
            font-size: 14px;
            padding: 5px;
            margin: 0;
        }
    }
}
  
  
  
  