@import '../../styles/variables.scss';

.auth-window {
	max-width: 75.625rem;
	margin: 3rem auto;
	font-family: "Inter", sans-serif;
	border: 1px solid $stroke;
	border-radius: .5rem;
	&__title {
		border-bottom: 1px solid $light_text;
	}

	&__title-text {
		font-size: 1.5rem;
		margin: 2.5rem 0 1.25rem 5.9375rem;
	}
}

.sign-in{
	max-width: 54.75rem;
	margin: 3.75rem auto;
	gap: 2.875rem;
}


.auth-original{
	width: 26.875rem;

	&__options {
		margin-bottom: 2.5rem;
		gap: 1rem;
		input {
			transform:scale(1.3);
			margin-right: 1rem;
		}
	}

	&__submit-button{
		padding: .625rem 1rem;
		background: $accent;
		&:hover{
			background: $accent;
			box-shadow: 0px 2px 4px rgba(37, 33, 33, 0.2);
		}

		&:active{
			background: #2A75AA;
		}
	}

	&__note-wrapper {
		text-align: center;
	}

	&__switch-button {
		border: none;
		color: $accent;
		background: transparent;
		padding: 0;
		border-bottom: 1px solid $accent;
	}

}

.with-apps{
width: 22.25rem;
	button{
		width: 22.25rem;
		border: none;
		border-radius: .5rem;
		background: $light-blue;
		text-align: center;
		padding: .875rem 2.5rem;
		font-weight: 700;
	}

	&__title{
		margin-bottom: 1.5rem;
		text-align: center;
	}

	&__google{
		margin: .75rem 0;
		span{
			padding: 0 .75rem;
			background: url('../../../public/images/icons/Google.svg') left no-repeat;
		}
	}

	&__facebook{
		span{
			padding: 0 .75rem;
			background: url('../../../public/images/icons/Facebook.svg') left no-repeat;
		}
	}
}

