@import '../../styles/variables.scss';

.cartPage {
    width: 85%;
    margin: 25px auto;
    .cart {
        margin-bottom: 60px;
        .general {
            display: flex;
            justify-content: space-between;
            #back {
                font-size: 16px;
                border: none;
                background-color: $bg;
                align-items: center;
                img {
                    padding: 6px 15px;
                }
            }
            #order {
                background-color: $accent;
                border: none;
                p {
                    color: $bg;
                }
            }
        }
    }
}