@import '../../styles/variables.scss';

.product {
	width: 100%;
	max-width: 250px;
	border: 1px solid $stroke;
	border-radius: 1rem;
	transition: transform .3s, box-shadow .3s ease-in-out;
		&:hover {
		transform: translateY(-.5rem);
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.06);
		z-index: 1;
	}
		&__image-wrapper {
			img {
				max-width: 80%;
				max-height: 10rem;
			}
		}

		&__heart {
			cursor: pointer;
		}

		&__availability {
			color: $correct;
			font-family: 'Lato', sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 18px;
			span {
				padding-right: 1rem;
				margin-right: .5rem;
				background: url('../../../public/images/icons/check.svg') left no-repeat;
			}
		}

		&__title-wrapper{
			margin-bottom: 2rem;
		}

		&__title {
			font-family: 'Lato', sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			overflow: hidden;
			height: 3rem;
		}

		&__comment{
			gap: .5rem;
			.review div{
				cursor: pointer;
			}
		}

		&__old-price {
			gap: .75rem;
			margin-bottom: .5rem;
			div {
				text-decoration: line-through;
				color: $light_text;
				font-weight: 400;
				font-size: 14px;
				line-height: 18px;
			}
			button {
				font-size: .625rem;
				padding: .125rem .625rem;
				color: $bg;
				background: $sale;
				border-radius: .5rem;
				border: none;
			}
		}

		&__button{
			padding: .25rem 1rem;
			background: $accent;
			border-radius: .25rem;
			border: none;
			cursor: pointer;
			line-height: 1.5rem;
			span {
				padding: 0 .75rem;
				margin-left: .25rem;
				background: url('../../../public/images/icons/cart.svg') left no-repeat;
			}
			&:hover{
				box-shadow: 0px 2px 4px rgba(37, 33, 33, 0.2);
			}
	
			&:active{
				background: #2A75AA;
			}
	
			&:disabled {
				background: $stroke;
			}
		}

		&__buy{
			margin-bottom: 1rem;
		}

		&__new-price {
			font-weight: 600;
			font-size: 24px;
			line-height: 29px;
			color: $text;
		}

		&__delivery {
			font-weight: 400;
			font-size: 10px;
			line-height: 14px;
			color: $footer;
			span {
				padding-right: 1rem;
				margin-right: .5rem;
				background: url('../../../public/images/icons/local_shipping.svg') left no-repeat;
			}
		}
}
.rate {
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	margin-bottom: .25rem;
	&__body {
		position: relative;
		&::before{
			content: "★★★★★";
			color: #cdc3b1;
			display: block;
		}
	}

	&__active {
		position: absolute;
		width: 88%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
		&::before{
		content: "★★★★★";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		color: $star;
		}
	}

	&__items {
		display: flex;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__item {
		flex: 0 1 20%;
		height: 100%;
		opacity: 0;
	}

	&__value {
		font-size: .875rem;
		padding-top: .2rem;
		padding-left: .625rem;
	}
}